<!doctype html>
<html>
  <header>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </header>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
      </nav>
      <%= yield %>
    </div>
  </body>
  <style>
    .hero-unit h1 {
      text-align: center;
      font-size: 50px;
    
    }
     nav {
            margin: 30px;
          }
                
               nav ul {
                      list-style-type: none;
                      text-align: center;
               
                    }
                          
              nav li {
                 height: 25px;
                 display: inline;
                 margin-right: 0px;
                 border-right: 1px solid #aaa;
                 padding: 0 20px;
                     }
                                    
              nav li:last-child {
                 border-right: none;
                      }
                                                    
              nav li a {
                 text-decoration: none;
                 color: #ccc;
                 font-size: 25px; 
                 font-family: Helvetica, Verdana, sans-serif;
                 text-transform: uppercase;
                                                 
                 -webkit-transition: all 0.5s ease;
                 -moz-transition: all 0.5s ease;
                 -o-transition: all 0.5s ease;
                 -ms-transition: all 0.5s ease;
                 transition: all 0.5s ease;
                                          }
                                                             
              nav li a:hover {
              color: #666;
                       }
                                                                         
              nav li.active a {
                 font-weight: bold;
                 color: #333;
                       }
  </style>
</html>
