<table class="table table-striped">
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>On Sale</th>
  </tr>
    <% @pr.each do |row| %>
      <% id = row['id']  %>
  <tr>
    <td> <a href="/products/<%="#{id}"%>"><%= row['name'] %></a></td>
    <td><%= row["price"]%></td>
    <% if row["on_sale"] == "t" %>
      <td><img src="for-sale.jpg"/></td>
    <% else %>
      <td></td>
    <% end %>

  </tr>
   <% end %>
</table>
